/* common */
html,body{min-width:1280px;font-family:'Noto Sans KR';font-weight:400;}
body,form,fieldset,legend,input,textarea,button,select,dl,dt,dd{margin:0;padding:0;font-family:'Noto Sans KR'}
ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td{font-family:'Noto Sans KR'}
body,table{font-family:'Noto Sans KR';font-size:13px;color:#6b6f83;line-height:18px}
input,textarea,select{font-family:'Noto Sans KR'}
table{border-spacing:0;border-collapse:collapse}
img, fieldset{border:0;}
img{vertical-align:top}
form, fieldset{margin:0;padding:0;}
em, address {font-style:normal;}
button{margin:0;padding:0;overflow:visible;cursor:pointer;}
a {text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none}
label{cursor:pointer}
.bold{font-weight:bold}
.hidden{display:none;}
.li{list-style:none}
